<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--Bootstrap 4-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Login</title>
  <% include partials/head %>
</head>

<body class="diseño">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container" Style="color:white;">
      <h3>Rubric Expertise</h3>
      <div>
        <a href="/logout" class="btn btn-light btn-sm">
          Salir
        </a>
      </div>
    </div>
  </nav>

  <div class="container" Style="color:white;">



    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <th>Tus plantillas</th>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <form action="/formUsuario" method="GET">
      <a href="" class="btn btn-success">
        Agregar
      </a>
      <a href="" class="btn btn-danger">
        Eliminar
      </a>
      <a href="" class="btn btn-info">
        Editar
      </a>
    </form>
  </div>
</body>

</html>