<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rubrica</title>
    <% include partials/head %>
  </head>
  <body class="diseño">
    <div class="container">
      <header class="text-center">
        <h1>Rubrica</h1>
        <a href="/logout" class="btn btn-light btn-sm">
          Salir
        </a>
      </header>
      <hr>
      <div class="container">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><span class="fa fa-user"></span> Local</h3>
              <p>
                <strong>id</strong> : <%= user._id %> <br>
                <strong>Usuario</strong> : <%= user.local.email %> <br>
                </p>
              <a href="/logout" class="btn btn-light btn-sm">
                Salir
              </a>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div className="container">
      
        <table width="100%" border="2" cellpadding="0" cellspacing="0" bordercolor="#000000">

           <tr>

               <th>#</th>

               <th>Nivel</th>

               <th>Categoría de actividad</th>

               <th>Habilidades relacionadas</th>

               <th>Porcentaje</th>

               <th>Nivel de aplicacion</th>

           </tr>

           <tr>

               <th rowspan="2" valign="middle" align="left">1</th>

               <th rowspan="2">&nbsp;Conocimiento</th>

               <td rowspan="1" valign="middle" align="left">
                   <div className="checkbox">
                       <label ><input type="checkbox" value=""/>Conocer</label>
                   </div>
               </td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

               <th rowspan="2">&nbsp;<input type="text" size="1"></input></th>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

           </tr>

           <tr>

               <td rowspan="1" valign="middle" align="left">
                   <div className="checkbox">
                       <label ><input type="checkbox" value=""/>Priorizando la información</label>
                   </div>
               </td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

           </tr>

           <tr>

               <th rowspan="2" valign="middle" align="left">2</th>

               <th rowspan="2">&nbsp;Comprensión</th>

               <td rowspan="1" valign="middle" align="left">
                   <div className="checkbox">
                       <label ><input type="checkbox" value=""/>Entendiendo e inferiendo</label>
                   </div>
               </td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

               <th rowspan="2">&nbsp;<input type="text" size="1"></input></th>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

           </tr>

           <tr>

               <td rowspan="1" valign="middle" align="left">
                   <div className="checkbox">
                       <label ><input type="checkbox" value=""/>Explorando alternativas</label>
                   </div>
               </td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

           </tr>

           <tr>

               <th rowspan="2" valign="middle" align="left">3/4</th>

               <th rowspan="2">&nbsp;Aplicación/Analisis</th>

               <td rowspan="1" valign="middle" align="left">
                   <div className="checkbox">
                       <label ><input type="checkbox" value=""/>Análisis de estructura</label>
                   </div>
               </td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

               <th rowspan="2">&nbsp;<input type="text" size="1"></input></th>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

           </tr>

           <tr>

               <td rowspan="1" valign="middle" align="left">
                   <div className="checkbox">
                       <label ><input type="checkbox" value=""/>Acompañamiento</label>
                   </div>
               </td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

           </tr>


           <tr>

               <th rowspan="2" valign="middle" align="left">5</th>

               <th rowspan="2">&nbsp;Síntesis</th>

               <td rowspan="1" valign="middle" align="left">
                   <div className="checkbox">
                       <label ><input type="checkbox" value=""/>Cumplimiento de deberes</label>
                   </div>
               </td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

               <th rowspan="2">&nbsp;<input type="text" size="1"></input></th>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

           </tr>

           <tr>

               <td rowspan="1" valign="middle" align="left">
                   <div className="checkbox">
                       <label ><input type="checkbox" value=""/>Estrategias de implementación</label>
                   </div>
               </td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

           </tr>

           <tr>

               <th rowspan="2" valign="middle" align="left">6</th>

               <th rowspan="2">&nbsp;Evaluación</th>

               <td rowspan="1" valign="middle" align="left">
                   <div className="checkbox">
                       <label ><input type="checkbox" value=""/>Reflexión</label>
                   </div>
               </td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

               <th rowspan="2">&nbsp;<input type="text" size="1"></input></th>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

           </tr>

           <tr>

               <td rowspan="1" valign="middle" align="left">
                   <div className="checkbox">
                       <label ><input type="checkbox" value=""/>Cumplimiento de juicio</label>
                   </div>
               </td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

               <td rowspan="1">&nbsp;<textarea></textarea></td>

           </tr>

       </table> 

  </body>
</html>
